body {
    box-shadow: midnightblue;
    background: #250b58;
    font-family: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.card {
    background: #111531;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(1,0,0,0.1);
    width: 300px;
    text-align: center; 
    
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    }
button {
    background: #5916dd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    }
button:hover{
    background: #a29bfe;
    
}
p {
   font-family: inherit;
}