<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="card">
            <h2> Register </h2>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="Email" placeholder="Masukan Alamat Email" required>
                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Daftar</button>
            </form>
            <p>Sudah Punya Akun <a href="/login">Login Di sini</a></p>
        </div>
    </body>
</html>